#novo{
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.elementosForm{
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: flex-start;
width: 80%; 
margin-top: 50px;
}

.campoForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%; 
}

.campoForm input{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.botoesForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_geral{
  background-color: #248;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px; 
  cursor: pointer;
  border-radius: 50px;
  margin: 10px;
  border: none;
}

.btn_geral:hover{
  background-color: #fff;
  color: #248;
  font-weight: bold;
  border-bottom: 4px solid #248;
}